body {
  margin: 0;
  padding: 0;
  background-color: #d6e2f0;
  font-family: Outfit;
}

body .encadre {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  width: 260px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
}

body .encadre .qr-code {
  width: 90%;
  border-radius: 10px;
  margin-top: 14px;
}

body .encadre .title-qr {
  text-align: center;
  font-weight: 700;
  font-size: 19px;
  margin: 20px;
  margin-bottom: 0;
  color: #1f3251;
}

body .encadre .text-info {
  text-align: center;
  margin: 20px;
  margin-top: 15px;
  font-size: 13px;
  color: #7b879d;
  font-weight: 500;
  margin-bottom: 35px;
}

body .challenge {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  margin-right: 15px;
  color: black;
  font-weight: bold;
}

body .challenge .lien-dev {
  text-decoration: none;
  color: black;
}

body .creator {
  color: black;
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 15px;
  font-weight: bold;
}

body .creator .lien-dev {
  text-decoration: none;
  color: black;
}
